<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523569475323-nq698q8lbp47p4tpmnrumfcavifqbl33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523569475323-nq698q8lbp47p4tpmnrumfcavifqbl33</string>
	<key>API_KEY</key>
	<string>AIzaSyDQDr9CgWd6330EQ15276TcQFqsV4n6SgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>523569475323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>lgbt-app-as</string>
	<key>STORAGE_BUCKET</key>
	<string>lgbt-app-as.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523569475323:ios:7f4af4cbe3615375260a5e</string>
</dict>
</plist>